[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
channels = "==2.0.2"
channels-redis = "*"
selenium = "*"
django = "*"

[dev-packages]

[requires]
python_version = "3.6"
